<!DOCTYPE html>
<html ng-app="app">
<meta charset="utf-8" />
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="/f/img/algoritmed.ico" />
<script src="/webjars/angularjs/1.7.0/angular.min.js"></script>
<script src="/webjars/angularjs/1.7.0/angular-sanitize.min.js"></script>
<script src="/f/algoritmed/compile-algoritmed3.js"></script>
<script src="/f/algoritmed/app_config2.js"></script>
<script src="/f/algoritmed/index.js"></script>

<script th:attr="src=${script}"></script>
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet"
	href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="icon" href="/f/img/ehalthinua-falicon.ico" type="image/x-icon">
</head>

<body class="w3-container" ng-controller="ControllerApp1">
	<div ng-include="'/f/algoritmed/lib/home-page-head.html'"></div>

	<p>
		Login <span ng-include="'/f/algoritmed/lib/login-form.html'"></span>
	</p>
	{{page.getRoleName()}}
</body>
</html>