<!DOCTYPE html>
<html ng-app="app">
<meta charset="utf-8" />
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title th:text="${title}"></title>
<link rel="shortcut icon" href="/f/img/algoritmed.ico" />
<script src="/webjars/angularjs/1.6.9/angular.min.js"></script>
<script src="/webjars/angularjs/1.6.9/i18n/angular-locale_uk.js"></script>
<script src="/webjars/angularjs/1.6.9/angular-sanitize.min.js"></script>
<script src="/f/algoritmed/compile-algoritmed2.js"></script>
<script th:attr="src=${script}"></script>
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/algoritmed.css">
<link rel="stylesheet"
	href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="icon" href="/f/img/ehalthinua-falicon.ico" type="image/x-icon">
</head>

<body class="w3-container" ng-controller="ControllerApp1">
	<div class="w3-container w3-border-bottom">
		<div th:attr="ng-include=${ng_template}"></div>
		<span class="w3-tiny"> > </span>
	</div>
</body>
</html>